<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize-v1.0.0/materialize/css/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <link rel="stylesheet" href="style/styleCss.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>EventosApp</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Lista de Eventos</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/cadastrarEvento" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar Evento</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <table class="container">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Local</th>
                <th>Data</th>
                <th>Horário</th>
                <th>Deletar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="evento: ${eventos}">
                <td><a th:href="${(#mvc.url('EC#detalhesEvento').arg(0, evento.codigo)).build()}"><span th:text="${evento.nome}"></span></a></td>
                <td><span th:text="${evento.local}"></span></td>
                <td><span th:text="${evento.data}"></span></td>
                <td><span th:text="${evento.horario}"></span></td>
                <td><a th:href="${(#mvc.url('EC#deletarEvento').arg(0, evento.codigo)).build()}"><i class="material-icons left">delete</i></a></td>
            </tr>
        </tbody>
    </table>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="materialize-v1.0.0/materialize/js/materialize.min.js"></script>
</body>
</html>